
.reveal .slides::after {
    content: "";
    background-image: url("../images/osp_logo_rgba70.png");
    background-size: 60px;
    background-repeat: no-repeat;
    background-position: right top;
    opacity: 0.5;
    top: -35px;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.reveal section.title h1, .reveal section h2 {
    color: #e11f1f;
    text-transform: none;
}

.reveal section img { border: none; }
.reveal h1 { font-size: 1.5em; }
.reveal dt { font-size: 80%; }
.reveal p { font-size: 90%; }

.left { float: left; }
.right { float: right; }
.w70p { width: 70%; }
.float-group:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
 }

.admonitionblock.note .icon {  background-color: #efc; }
.admonitionblock.note .content {  background-color: #efe; color: #050; font-size: 90%;}
.listingblock .title { font-size: 16pt;}